node_modules
pnpm-lock.yaml
.svelte-kit
**/coverage
**/playwright-report/**
**/playwright/.cache/**
packages/**/docs/**
packages/**/dist/**
packages/**/package/**
apps/docs/src/docs/**
apps/**/build/**
.vercel
