@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Mona Sans';
	src: url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
		url('/fonts/Mona-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
	font-display: swap;
}

@font-face {
	font-family: 'Hubot Sans';
	src: url('/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
		url('/fonts/Hubot-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
	font-display: swap;
}

code {
	@apply font-robotic;
	color: #c41d7f;
}

/* Highlight */
pre[data-language] {
	border-radius: inherit;
}
pre[data-language] code.hljs {
	border-radius: inherit;
}

p pre[data-language] {
	margin-top: 8px;
}

/* Scrollbar */
[data-theme] ::-webkit-scrollbar-track {
	background-color: hsl(var(--b2) / 0.65);
}
[data-theme] ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
[data-theme] ::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: hsl(var(--bc) / 0.35);
}
[data-theme] ::-webkit-scrollbar-thumb:hover {
	background-color: hsl(var(--bc) / 0.55);
}
